#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-page_form-block{
    width: 30%;
    padding: 3%;
    border-radius: 20px;
    background-color: aquamarine;    
}
.login-page_form{
    display: flex;
    flex-direction: column;
}

