:root{
    --red-color: #ed4343;
    --blue-color: #023786;
    --dark-gray-color: #3F3F3F;
}

body {
    font-family: "Comfortaa", serif;
    font-size: 16px;
}

h1{
    font-size: 2rem;
}

/* #region Form styles */

.required-mark{
    color: var(--red-color);
}
.form-field-styles {
    padding: 10px;
    border: 1px solid rgb(250, 192, 192);
    border-radius: 10px;
}

.form-label {
    margin-top: 10px;
}
textarea{
    width: 100%;
}

.form-submit {
    margin-top: 20px;
    background-color: var(--blue-color);
    color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}

.form-submit:hover {
    background-color: var(--blue-color)
}

.forgot-pass-link {
    font-weight: 600;
    color: var(--blue-color)
}

/* #endregion Form styles */

/* #region Logo styles  */
.logo {
    font-family: "Sriracha", serif;
    color: var(--red-color);
    font-size: 2rem;
    text-shadow:  1px 0px 0px rgba(0, 0, 0, 0.5);
}
.logo-dark{
    color: var(--dark-gray-color);
}
/* #endregion Logo styles  */

